.mainContainer {
    background-color: rgb(39, 39, 39);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* padding-bottom: 0.7vh; */
    padding-top: 2vh;
    border-top: 1vh solid rgb(238, 155, 255);

    /* border: 1px solid red; */
}

.featured {
    background-color: white;
    font-size: 2.5vh;
    padding: 2vh;

    width: 100%;
    text-align: left;

    margin-top: -0.1vw;
    margin-bottom: -0.1vw;
}


.gallery {
    columns: 4 180px;
    column-gap: 1.5vh;
    width: 90%;
    margin: 0 auto;
    /* display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-auto-rows: 250px 150px;
    grid-auto-flow: dense; */

}

.gallery picture {
    width: 150px;
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
}

.gallery picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.galleryTitle {
    text-align: center;
    height: 6vh;
    margin-top: -0.1vh;
    padding-top: 2.2vh;
    font-size: 3vh;
    text-align: center;
    color: white;
    background-color: black;
    /* background-color: rgb(133, 186, 255); */
}

.phototDesc {
    font-size: 1.2vw;
    font-family: Georgia, serif;
}

.photo {
    width: 25vw;
    /* border: 0.4vw solid rgb(133, 186, 255); */
    /* margin-right: 3vw; */
}

.quickButtons {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-top: 4vh;
    padding-bottom: 2vh;
}

.jumpButton {
    text-decoration: none;
    width: 30vh;
    /* height: 5vh; */

    text-align: center;
    font-size: 3vh;
    
    background-color: inherit;
    color: white;
    border-radius: 1vh;
    border: 0.5vh solid white;
}

.jumpButton:hover{
    border: 0.5vh solid rgb(238, 155, 255);
}

.jumpButton:focus{
    outline: none;
    border: 0.5vh solid rgb(238, 155, 255);
}

#resultSec {
    height: 60vw;
}
#dialogImg{
    padding: 0;
    border: 0;
}
#dialogImg img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 750px) {
    #resultSec {
        height: 80vh;
        padding:0;
    } 
    #imgClose {
        width: 10vh;
    }
}